.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
*.bz2
*.F
*.gz
*.lz
*.lzma
*.lzo
*.rz
*.sfark
*.sz
*.?Q?
*.?Z?
*.xz
*.z
*.Z
*.infl
*.??_
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
*.a
*.ar
*.cpio
*.shar
*.LBR
*.iso
*.lbr
*.mar
*.tar
*.rpm
*.deb
*.msi
*.msm
*.msp
*.xpi
*.gem
*.7z
*.s7z
*.ace
*.afa
*.alz
*.apk
*.arc
*.arj
*.b1
*.ba
*.bh
*.cab
*.car
*.cfs
*.cpt
*.dar
*.dd
*.dgc
*.dmg
*.ear
*.egg
*.gca
*.ha
*.hki
*.ice
*.jar
*.kgb
*.lzh
*.lha
*.lzx
*.pak
*.partimg
*.paq*
*.pea
*.pim
*.pit
*.qda
*.rar
*.rk
*.sda
*.sea
*.sen
*.sfx
*.shk
*.sit
*.sitx
*.sqx
*.tar.gz
*.tgz
*.tar.Z
*.tar.bz2
*.tbz2
*.tar.lzma
*.tlz
*.uc
*.uc0
*.uc2
*.ucn
*.ur2
*.ue2
*.uca
*.uha
*.war
*.wim
*.xar
*.xp3
*.yz1
*.zip
*.zipx
*.zoo
*.zpaq
*.zz
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.msix
*.lnk
*.code-workspace
*.app
.snapshots/*
*.pkg
*.class
*.log
*.ctxt
.mtj.tmp/
*.nar
hs_err_pid*
replay_pid*
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.gzip
*.bzip
*.bzip2
*.txz
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/